@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Almarai:wght@700&display=swap');
/* Abhaya Libre, Almarai*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0DFD5;
}

/* Navigation Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #313638;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E0DFD5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Abhaya Libre, Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

li a:hover {
  background-color: #111;
}

/* Mission Statistics Page */

#activity {
    text-align: center;
    padding: 1.5em 2em 0em 2em;
    color: #313638;
    font-family: Abhaya Libre, 'Courier New', Courier, monospace;
}

.sTitle {
    padding-bottom: 20px;
}

#activity table {
    font-family: Almarai, Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    table-layout: fixed;
    width: 500px;
    height: 250px;
}

.about {
  text-align: center;
  font-family: Almarai, Arial, Helvetica, sans-serif;
  padding-bottom: 5em;
  color: #313638;
}

.about h1 {
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  font-size: 50px;
  font-family: Abhaya Libre, 'Courier New', Courier, monospace;
}

.about table {
  border-style: solid;
  border-color: black;
  margin: auto;
  width:1300px;  
}

.about table tr th {
  padding:30px;
  border-style: solid;
  border-color: black;
  width:50%;
  font-size: xx-large;
  font-family: Abhaya Libre, 'Courier New', Courier, monospace;
}

.about table tr td {
  padding: 1em;
  border-style: solid;
  border-color: black;
  font-family: Almarai, Arial, Helvetica, sans-serif;
}

img{
  width: 300px;
  padding: 0.5em;
}