@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0DFD5;
}

/* Navigation Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #313638;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E0DFD5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Abhaya Libre;
  font-size: xx-large;
}

li a:hover {
  background-color: #111;
}

/* Mission Statistics Page */

#activity {
    text-align: center;
    padding: 5em;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
}